
.main-contacts {
    overflow-y: scroll;
    background-color: rgb(230, 230, 230);
    color: rgb(22, 22, 22);
    height: 100vh; 
    padding: 1em;

    h1 {
        margin-top: 2em;
    }

    &-cards {
        font-size: 1.5em;

        .contact-item {
            margin-top: 25px;
            border-bottom: 1px solid grey;
            display: block;
            a{
                text-decoration: none; color: rgb(62, 132, 173);
                &:hover {color: rgb(60, 140, 214);}
            }
            
            i {font-size: 2em; display: block;}
            .fa-user-circle { color: rgb(90, 59, 24);}
            .fa-envelope { color: green;}
            .fa-facebook { color: blue;}
            .fa-linkedin { color: rgb(13, 69, 102);}
        }
    }
}


